<main>
 
  <table>
    <thead>
      <tr>
          <th *ngFor="let header of displayedColumns"> {{ header }} <span class="icon-arrow">&UpArrow;</span></th>
      </tr>
  </thead>
  
  <tbody>

    <tr *ngFor="let movie of movies" >

      <td>{{ movie.Title }} </td>
    
      <td> {{movie.Type}} </td>

      <td>
          <p class="status delivered">{{movie.Year}}</p>
      </td>

      <td>
        <a href="http://{{movie.Poster}}" target="_blank" rel="noopener noreferrer">{{movie.Poster | truncate }}</a>
      </td>

      <td> <strong>{{movie.imdbID }} </strong></td>

    </tr>

  </tbody>

  </table> 

</main>
