<main>
  <div class="search">
    <input type="text" #movieSearchInput placeholder="Buscar pelicula" />
  </div>

   <table *ngIf="movies.length > 0; else empty">
    <thead>
      <tr>
          <th *ngFor="let header of displayedColumns"> 
              <span (click)="onSort(header)" *ngIf="header !== 'Poster'">
                {{ columnSorting[header] === 'asc' ? '▲' : '▼' }}
              </span>

              {{ header }} 
           
          </th>
      </tr>
  </thead>
  
  <tbody>

    <tr *ngFor="let movie of movies" >

      <td>
        <img [src]="movie.Poster" [alt]="movie.Title" [ngStyle]="{height: '200px'}">
      </td>

      <td>
        <p>{{ movie.Title }} </p>
      </td>
    
      <td>
        <p>{{movie.Type}}</p>
      </td>

      <td>
          <p>{{movie.Year}}</p>
      </td>

     

      <!-- <td> <strong>{{movie.imdbID }} </strong></td> -->

    </tr>

  </tbody>

  </table> 
  <ng-template #empty>
    <div class="empty">
      <h3>No se encontraron peliculas</h3>
      <img src="../../../assets/img/caritas-negras@2x.png" alt="">
    </div>
    
  </ng-template>
</main>
